#tips {
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  background-color: $light-pink;

  @include flexStyle(1rem, true);

  img {
    width: 80%;
  }
}

@media screen and (min-width: 760px) {
  #tips {
    padding: 4rem 5rem;
    justify-content: space-between;
    gap: 0;
  
    img {
      width: 18rem;
      height: 18rem;
    }
  }
}

@media screen and (min-width: 1030px) {
  #tips {
    img {
      width: 30rem;
      height: 30rem;
    }
  }
}